In [2]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder

ModuleNotFoundError: No module named 'sklearn'

In [ ]:
train_df = pd.read_csv("./train.csv")
test_df = pd.read_csv("./test.csv")

In [ ]:
train_df

,ID,Candidate,Constituency ∇,Party,Criminal Case,Total Assets,Liabilities,state,Education
0,0,M.K. Mohan,ANNA NAGAR,DMK,4,211 Crore+,2 Crore+,TAMIL NADU,8th Pass
1,1,Khatik Ramesh Prasad,KARERA (SC),BJP,0,1 Crore+,0,MADHYA PRADESH,12th Pass
2,2,Dr. Mantar Gowda,MADIKERI,INC,0,7 Crore+,22 Lac+,KARNATAKA,Post Graduate
3,3,Kundan Kumar,BEGUSARAI,BJP,0,9 Crore+,24 Lac+,BIHAR,Post Graduate
4,4,Swapan Majumder,BANGAON DAKSHIN (SC),BJP,2,2 Crore+,61 Lac+,WEST BENGAL,8th Pass
...,...,...,...,...,...,...,...,...,...
2054,2054,V. Sasi,CHIRAYINKEEZHU,CPI,1,61 Lac+,10 Lac+,KERALA,Graduate Professional
2055,2055,Pushkar Lal Dangi,MAVLI,INC,0,2 Crore+,8 Lac+,RAJASTHAN,10th Pass
2056,2056,Dr. Manju Shiwach,MODI NAGAR,BJP,0,13 Crore+,85 Lac+,UTTAR PRADESH,Graduate
2057,2057,Mansing Fattesingrao Naik,SHIRALA,NCP,1,25 Crore+,94 Lac+,MAHARASHTRA,12th Pass
2058,2058,Nyato Rigia,TALIHA,BJP,0,11 Lac+,0,ARUNACHAL PRADESH,Graduate

In [ ]:
np.unique(train_df["Total Assets"])

array(['0', '1 Crore+', '1 Lac+', '10 Crore+', '10 Lac+', '102 Crore+',
       '105 Crore+', '106 Crore+', '109 Crore+', '11 Crore+', '11 Lac+',
       '110 Crore+', '111 Crore+', '112 Crore+', '115 Crore+',
       '1156 Crore+', '12 Crore+', '12 Lac+', '122 Crore+', '1267 Crore+',
       '128 Crore+', '13 Crore+', '13 Lac+', '134 Crore+', '135 Crore+',
       '138 Crore+', '14 Crore+', '14 Lac+', '141 Crore+', '15 Crore+',
       '15 Lac+', '15 Thou+', '159 Crore+', '16 Crore+', '16 Lac+',
       '163 Crore+', '17 Crore+', '17 Lac+', '18 Crore+', '18 Lac+',
       '18 Thou+', '183 Crore+', '187 Crore+', '189 Crore+', '19 Crore+',
       '19 Lac+', '191 Crore+', '2 Crore+', '2 Lac+', '20 Crore+',
       '20 Lac+', '21 Crore+', '21 Lac+', '211 Crore+', '22 Crore+',
       '22 Lac+', '23 Crore+', '23 Lac+', '24 Crore+', '24 Lac+',
       '24 Thou+', '242 Crore+', '25 Crore+', '25 Lac+', '26 Crore+',
       '26 Lac+', '27 Crore+', '27 Lac+', '274 Crore+', '28 Crore+',
       '28 Lac+', '29 Crore+', '29 Lac+', '293 Crore+', '296 Crore+',
       '3 Crore+', '3 Lac+', '30 Crore+', '30 Thou+', '31 Crore+',
       '31 Lac+', '312 Crore+', '313 Crore+', '32 Crore+', '32 Lac+',
       '33 Crore+', '33 Lac+', '34 Crore+', '34 Lac+', '35 Crore+',
       '35 Lac+', '36 Crore+', '36 Lac+', '363 Crore+', '37 Crore+',
       '37 Lac+', '38 Crore+', '38 Lac+', '39 Crore+', '39 Lac+',
       '4 Crore+', '4 Lac+', '40 Crore+', '40 Lac+', '41 Crore+',
       '41 Lac+', '42 Crore+', '42 Lac+', '43 Crore+', '43 Lac+',
       '44 Crore+', '44 Lac+', '45 Crore+', '45 Lac+', '46 Crore+',
       '46 Lac+', '47 Lac+', '48 Crore+', '49 Crore+', '49 Lac+',
       '5 Crore+', '5 Lac+', '50 Lac+', '500 Crore+', '51 Crore+',
       '51 Lac+', '51 Thou+', '52 Crore+', '52 Lac+', '53 Crore+',
       '53 Lac+', '54 Crore+', '54 Lac+', '55 Lac+', '56 Crore+',
       '56 Lac+', '57 Lac+', '58 Crore+', '58 Lac+', '59 Crore+',
       '59 Lac+', '6 Crore+', '6 Lac+', '60 Lac+', '61 Crore+', '61 Lac+',
       '62 Crore+', '62 Lac+', '63 Crore+', '63 Lac+', '64 Crore+',
       '64 Lac+', '65 Crore+', '65 Lac+', '66 Crore+', '66 Lac+',
       '668 Crore+', '67 Crore+', '67 Lac+', '68 Crore+', '68 Lac+',
       '69 Crore+', '7 Crore+', '70 Crore+', '70 Lac+', '71 Crore+',
       '71 Lac+', '72 Crore+', '72 Lac+', '72 Thou+', '73 Lac+',
       '73 Thou+', '74 Crore+', '74 Lac+', '75 Crore+', '75 Lac+',
       '76 Lac+', '77 Lac+', '78 Lac+', '79 Crore+', '79 Lac+',
       '8 Crore+', '8 Lac+', '80 Crore+', '80 Lac+', '81 Crore+',
       '81 Lac+', '82 Lac+', '83 Lac+', '84 Crore+', '84 Lac+', '85 Lac+',
       '86 Lac+', '87 Lac+', '88 Lac+', '89 Crore+', '89 Lac+',
       '9 Crore+', '9 Lac+', '90 Lac+', '91 Lac+', '92 Crore+', '92 Lac+',
       '93 Lac+', '94 Lac+', '95 Lac+', '96 Lac+', '97 Lac+', '98 Lac+',
       '99 Lac+'], dtype=object)

In [ ]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2059 entries, 0 to 2058
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ID              2059 non-null   int64
 1   Candidate       2059 non-null   object
 2   Constituency ∇  2059 non-null   object
 3   Party           2059 non-null   object
 4   Criminal Case   2059 non-null   int64
 5   Total Assets    2059 non-null   object
 6   Liabilities     2059 non-null   object
 7   state           2059 non-null   object
 8   Education       2059 non-null   object
dtypes: int64(2), object(7)
memory usage: 144.9+ KB

In [ ]:
for col in ['state','Party']:
    label_encoder = LabelEncoder()
    train_df[col] = label_encoder.fit_transform(train_df[col])
    test_df[col] = label_encoder.transform(test_df[col])

In [ ]:
education_encoder = LabelEncoder()
train_df["Education"] = education_encoder.fit_transform(train_df["Education"])

In [ ]:
constituency_categories = np.unique(np.append(train_df["Constituency ∇"],test_df["Constituency ∇"]))
constituency_categories

array(['AAKOLA WEST', 'ABDASA', 'ABHANPUR', ..., 'ZIRA', 'ZIRO HAPOLI',
       'ZUNHEBOTO (ST)'], dtype=object)

In [ ]:
unique_units = set()

for value in test_df["Total Assets"]:
    unit = value.split()[1] if len(value.split()) > 1 else ''
    unique_units.add(unit)
    
unique_units

{'', 'Crore+', 'Lac+', 'Thou+'}

In [ ]:
def convert_to_float(value):
    if not isinstance(value, str):
        value = str(value)
    if isinstance(value, str):
        if 'Crore' in value:
            return float(value.replace(' Crore+', ''))*100
        elif 'Lac' in value:
            return float(value.replace(' Lac+', ''))
        elif 'Thou' in value:
            return float(value.replace(' Thou+', '')) / 100
        elif 'Hund' in value:
            return float(value.replace(' Hund+', ''))/1000
        else:
            return float(value) / 100000
    return value/100000

In [ ]:
for col in ['Total Assets', 'Liabilities']:
    train_df[col] = train_df[col].apply(convert_to_float)
    test_df[col] = test_df[col].apply(convert_to_float)

In [ ]:
train_df

,ID,Candidate,Constituency ∇,Party,Criminal Case,Total Assets,Liabilities,state,Education
0,0,M.K. Mohan,ANNA NAGAR,7,4,21100.0,200.0,23,3
1,1,Khatik Ramesh Prasad,KARERA (SC),4,0,100.0,0.0,13,1
2,2,Dr. Mantar Gowda,MADIKERI,8,0,700.0,22.0,11,9
3,3,Kundan Kumar,BEGUSARAI,4,0,900.0,24.0,3,9
4,4,Swapan Majumder,BANGAON DAKSHIN (SC),4,2,200.0,61.0,27,3
...,...,...,...,...,...,...,...,...,...
2054,2054,V. Sasi,CHIRAYINKEEZHU,5,1,61.0,10.0,12,6
2055,2055,Pushkar Lal Dangi,MAVLI,8,0,200.0,8.0,21,0
2056,2056,Dr. Manju Shiwach,MODI NAGAR,4,0,1300.0,85.0,25,5
2057,2057,Mansing Fattesingrao Naik,SHIRALA,13,1,2500.0,94.0,14,1
2058,2058,Nyato Rigia,TALIHA,4,0,11.0,0.0,1,5

In [ ]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2059 entries, 0 to 2058
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ID              2059 non-null   int64
 1   Candidate       2059 non-null   object
 2   Constituency ∇  2059 non-null   object
 3   Party           2059 non-null   int32
 4   Criminal Case   2059 non-null   int64
 5   Total Assets    2059 non-null   float64
 6   Liabilities     2059 non-null   float64
 7   state           2059 non-null   int32
 8   Education       2059 non-null   int32
dtypes: float64(2), int32(3), int64(2), object(2)
memory usage: 120.8+ KB

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [ ]:
x = train_df[["Party","Criminal Case","Total Assets","Liabilities","state"]]
y = train_df["Education"]

In [ ]:
x_test = test_df[["Party","Criminal Case","Total Assets","Liabilities","state"]]

In [ ]:
rf_classifier = RandomForestClassifier(n_estimators=70, random_state=20)

rf_classifier.fit(x, y)

y_pred = rf_classifier.predict(x_test)

In [ ]:
y_pred

array([1, 3, 1, ..., 9, 6, 9])

In [ ]:
y_pred = education_encoder.inverse_transform(y_pred)

In [ ]:
y_pred.shape

(1374,)

In [ ]:
submission_df = pd.DataFrame({'ID': test_df['ID'], 'Education': y_pred})
submission_df.to_csv('./my_submission.csv', index=False)